@keyframes slideOut {
    from {
        transform: translateY(-100%);
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.judul-sesi {
    border-left: 5px solid black;
    padding-left: 10px;
    display: block;
    margin-left: 20px;
    line-height: 60px;
}

/* start navbar */
nav {
    background-color: transparent;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    position: fixed;
    z-index: 2;
    top: 0;
    transition-duration: 0.3s;
}


.menu a {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 500;

}

.menu a:hover,
.menu .active {
    text-decoration: underline;
}


.logo img {
    width: 133.86px;
    height: 58.2px;
    float: left;
    box-sizing: border-box;
}

/* navbar end */

/* banner start */
.banner {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(255, 255, 255, 1)), url(../img/gedung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.banner .sambutan {
    width: 70%;
    color: #ffffff;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideOut;
    animation-iteration-count: 1;
}

.judul-sambutan h1 {
    font-size: 40px;
}

.kalimat-sambutan p {
    font-size: 20px;
}

/* banner end */

/*berita start*/
.berita {
    padding: 20px;
    box-sizing: border-box;
}

.news-wbi {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    color: #000000;
}

.headline {
    width: 60%;
    float: left;
}

.text {
    width: 300px;
}

.title-headline {
    font-size: 30px;
    margin-top: 30px;
}

.title-card-news {
    font-size: 20px;
    margin-bottom: 10px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.caption-card-news {
    font-size: 14px;
    width: 90%;
    height: 50px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    text-align: justify;
}

.caption-headline {
    margin-top: 10px;
    text-align: justify;
}

.news {
    margin-left: 20px;
    box-sizing: border-box;
    float: right;
    width: 50%;
}

.card {
    display: flex;
    border-bottom: 1px solid rgb(199, 199, 199);
    margin-bottom: 20px;
    width: 100%;
}


.gambar-headline img {
    width: 100%;
    height: auto;
}

.gambar-card-news img {
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
}

/*berita end*/

/*partnership start*/
.partnership {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.logo-wbi {
    width: 100%;
    text-align: center;
}

.logo-wbi img {
    width: 20%;
}

.logo-partners {
    width: 100%;
    text-align: center;
}

.logo-partners img {
    width: 90%;
}

/*partnership end*/

/*contact start*/
.contact {
    padding: 20px;
}

.container-contact {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
    justify-content: center;

}

.form-data {
    width: 50%;
}

.form-data input {
    justify-content: right;
}

.data-diri {
    width: 100%;
    padding: 0 30px 10px 10px;
    box-sizing: border-box;
}

.data-diri input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(60, 60, 60, 0.5);
    outline: none;
    margin: 10px 0 10px 0;
    padding: 5px 15px 5px 0;
    background-color: transparent;
}


.data-diri input:focus {
    border-bottom: 2px solid blue;
}

.btn-submit {
    float: right;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px 10px 10px 10px;
}

.btn-submit:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

i {
    margin-right: 20px;
}

.informasi {
    width: 50%;
    padding: 0 10px 10px 30px;
    box-sizing: border-box;
    display: block;
    border-left: 3px solid black;
}

.informasi h3 {
    margin: 0 0 10px 0;
}

.info-kontak a {
    text-decoration: none;
    color: #000000;
}



/*contact end*/

/*footer start*/
footer {
    background-color: #000000;
    width: 100%;
    margin: 64px 0 0 0;
    padding: 20px 0;
    bottom: 0;
    position: relative;
    box-sizing: border-box;
}

.container-footer {

    bottom: 0;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 49px;
}

.box-footer {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.logo-wbi-putih {
    width: 50%;
}

.logo-wbi-putih img {
    width: 30%;
}

.catchpharase {
    width: 50%;
    text-align: right;
}

.catchpharase h2 {
    color: #ffffff;
}

.copyright {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

/*footer end*/

/* vertical scroll wheel design start */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* vertical scroll wheel design end */